{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>
    <link href="{% static 'menu.css'%}" rel="stylesheet"/>
  </head>
  <body>
    <div class="menu">
      <main>
        <h1>MENU</h1>
        <hr>
        <section>
          <h2>Soup</h2>
          <article class="item">
            <p class="flavor">Tomato Soup</p><p class="price">110</p>
          </article>
          <article class="item">
            <p class="flavor">Manchow Soup</p><p class="price">120</p>
          </article>
          <article class="item">
            <p class="flavor">Sweet Corn Soup</p><p class="price">100</p>
          </article>
        </section>

        <section>
          <h2>Salad</h2>

          <article class="item">
            <p class="dessert">Caesar Salad</p><p class="price">170</p>
          </article>
          <article class="item">
            <p class="dessert">Greek Salad</p><p class="price">200</p>
          </article>
          <article class="item">
            <p class="dessert">Cobb Salad</p><p class="price">180</p>
          </article>
        </section>

        <section>
          <h2>Starter</h2>

          <article class="item">
            <p class="dessert">Garlic Bread</p><p class="price">90</p>
          </article>
          <article class="item">
            <p class="dessert">Bruschetta</p><p class="price">150</p>
          </article>
          <article class="item">
            <p class="dessert">Cheese Garlic Bread</p><p class="price">120</p>
          </article>
        </section>


        <section>
          <h2>Main Course</h2>

          <article class="item">
            <p class="dessert">Lasagna</p><p class="price">280</p>
          </article>
          <article class="item">
            <p class="dessert">Panner Tikka Masala</p><p class="price">250</p>
          </article>
          <article class="item">
            <p class="dessert">Palak Paneer</p><p class="price">250</p>
          </article>
        </section>

        <section>
          <h2>Curries</h2>
          <article class="item">
            <p class="dessert">Chicken Curry</p><p class="price">220</p>
          </article>
          <article class="item">
            <p class="dessert">Palak Panner</p><p class="price">250</p>
          </article>
          <article class="item">
            <p class="dessert">Butter Chicken</p><p class="price">300</p>
          </article>
        </section>

        <section>
          <h2>Biriyani</h2>

          <article class="item">
            <p class="dessert">Hyderabadi Biriyani</p><p class="price">250</p>
          </article>
          <article class="item">
            <p class="dessert">Mutton Biriyani</p><p class="price">280</p>
          </article>
          <article class="item">
            <p class="dessert">Vegetable Biriyani</p><p class="price">220</p>
          </article>
        </section>

        <section>
          <h2>Tandoori Dishes</h2>
          <article class="item">
            <p class="dessert">Tandoori Chicken</p><p class="price">200</p>
          </article>
          <article class="item">
            <p class="dessert">Chicken Tikka</p><p class="price">280</p>
          </article>
          <article class="item">
            <p class="dessert">Fish Tandoori</p><p class="price">320</p>
          </article>
        </section>

        <section>
          <h2>Chaats</h2>
          <article class="item">
            <p class="dessert">Pani Puri</p><p class="price">70</p>
          </article>
          <article class="item">
            <p class="dessert">Bhel Puri</p><p class="price">70</p>
          </article>
          <article class="item">
            <p class="dessert">Aloo Tikki Chat</p><p class="price">80</p>
          </article>
        </section>

        <section>
          <h2>Dosas</h2>
          <article class="item">
            <p class="dessert">Masala Dosa</p><p class="price">100</p>
          </article>
          <article class="item">
            <p class="dessert">Mysore Masala Dosa</p><p class="price">150</p>
          </article>
          <article class="item">
            <p class="dessert">Rava Masala Dosa</p><p class="price">130</p>
          </article>
        </section>

        <section>
            <h2>Desserts</h2>
  
            <article class="item">
              <p class="dessert">Chocolate Cake</p><p class="price">140</p>
            </article>
            <article class="item">
              <p class="dessert">Gulab Jamun</p><p class="price">80</p>
            </article>
            <article class="item">
              <p class="dessert">Rasgulla</p><p class="price">100</p>
            </article>
          </section>

      </main>
      <hr class="bottom-line">
    </div>
  </body>
</html>